!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Dear intrepid dreamer,
    %p
      Congratulations on taking the first step to achieving your boldest life goals.
    %p
      Did you know that only 4% of people write down their goals? Amazingly, studies have shown these people are significantly happier and earn 9 times more over their lifetimes than those who don’t set goals.
    %p
      With Lifelist, you'll discover amazing new goals and learn the best way to achieve them from experts. From exploring Borneo to becoming a wold-class dancer to running an ultra-marathon, Lifelist is here to make any dream an easier and more fulfilling journey. 
    %p
      We believe in simple: you tell us your goals, and we connect you with information on the specific actions to take and the gear and skills you may need along your journey.
    %p
      We know you’ll love Lifelist—we can’t wait to share it with you.

    %br
    %p
      Live now,<br>
      The Lifelist team
