.navbar-fixed-top {
  @include gradient-vertical( lighten( $color-navbar, 5% ), $color-navbar );
  @include box-shadow( 0 2px 5px 0 rgba( 0,0,0,.1 ) );

  .container {
    width: 1000px;
  }

  .navbar-inner {
    @include gradient-vertical( lighten( $color-navbar, 5% ), $color-navbar );
    border: 0;
    @include box-shadow( none );

    .nav {
      margin: 0;

      & > li {
        & > a {
          padding: 14px 20px;
          color: white;
          text-shadow: 0 1px 0 rgba(0,0,0,.2);
          font-size: 14px;
          height: 17px;
          line-height: 17px;
          font-family: $font-default;
          font-weight: 400;
          text-align: center;
          @include transition( color .1s ease-in-out );

          &:active, &:focus {
            outline: 0;
          }

          &:hover {
            color: #eee;
          }

          [class^="icon-"] {
            font-size: 18px;
            height: 18px;
            width: 18px;
            line-height: 18px;
            background-image: none;
            margin: 0;

            &:before {
              margin: 0;
            }

          }

        }

        &.dropdown {
          &.open > .dropdown-toggle {
            color: #ddd;
            background: transparent;
          }

          &:hover {
            .dropdown-menu {
              display: block;
            }

          }

          & > .dropdown-toggle .caret {
            border-top-color: white;
            border-bottom-color: white;
          }

          &.active > .dropdown-toggle {
            color: #eee;
          }

        }

        & > .dropdown-menu {
          @include border-radius( 5px );
          @include box-shadow( 0 2px 5px 0 rgba(0,0,0,.2) );

          &:after {
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid white;
            top: -10px;
          }

          &:before {
            border-left: 11px solid transparent;
            border-right: 11px solid transparent;
            border-bottom: 11px solid rgba(0,0,0,.2);
            top: -11px;
            display: none;
          }
        }
        
        &.categories{
          & > .dropdown-menu:before { left: 33px; }
          & > .dropdown-menu:after { left: 34px; }
        }

        &.search {
          margin: 0;
          width: auto;
          height: 30px;

          input, input:focus, input:active {
            width: 200px;
            height: 22px;
            @include border-radius( 3px );
            border: 1px solid darken( $color-navbar, 5% );
            @include box-shadow(
               0 2px 2px 0 rgba(0,0,0,.1) inset,
               0 1px 0 0 white inset
             );
            margin: 6px 12px 0 0;
            font-size: 12px;
            color: #9098a2;
            padding: 4px 0 4px 30px;
          }
        }

        &.settings {
          & > .dropdown-menu:before { right: 23px; }
          & > .dropdown-menu:after { right: 24px; }

          .edit-settings {
            padding: 10px;

            & > img { 
              @include border-radius( 3px );
              margin-right: 5px;
            }
          }
        }
      }

      & > .active {
        & > a {
          @include gradient-vertical( darken( $color-navbar, 2% ), $color-navbar );
          @include box-shadow( 0 2px 3px 0 rgba(0,0,0,.2) inset, 1px 0 0 0 rgba(255,255,255,.02), -1px 0 0 0 rgba(255,255,255,.02) );
          font-weight: 300;
          color: white;

          [class^="icon-"] {
            color: white;
          }

        }

      }

      &.pull-right > li > a {
        padding: 14px 12px;
      }

    }

  }

  .avatar {
    position: absolute;
    top: 50%;
    right: 30px;
    margin-top: -15px;
    @include border-radius( 3px );
  }

}

.logo {
  background-image: url('/assets/logo_lifelist_script.png');
  width: 100px;
  height: 45px;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -50px;
}

.navbar-fixed-bottom {
  @include box-shadow( 0 2px 5px 0 rgba( 0,0,0,.1 ) );

  .navbar-inner {
    background: #f5f5f5;
    border: 0;
    border-top: 1px solid white;
    @include box-shadow( none );

    .nav {
      margin: 0 9px;

      & > li {
        & > a,
        &.copyright {
          padding: 18px;
          color: #999;
          text-shadow: 0 1px 0 white;
          font-size: 14px;
          height: 17px;
          line-height: 17px;
          font-family: $font-default;
          font-weight: 400;
          text-align: center;
          @include transition( color .1s ease-in-out );
        }

        & > a {
          &:hover {
            color: #666;
          }

          [class^="icon-"] {
            font-size: 18px;
            height: 18px;
            width: 18px;
            line-height: 18px;
            background-image: none;
            margin: 0;

            &:before {
              margin: 0;
            }

          }

        }
      }
    }
  }
}
