%h1 Privacy Policy

%h2 I. COLLECTED INFORMATION
%p
  A. Personally Identifiable Information (PII).
%p
  Under no circumstances does Lifelist ("Site" or "We") request or collect
  sensitive PII such as an Internet user's health/medical conditions; ethnic
  or racial origin; religious, political or philosophical beliefs or
  associations; trade union membership or sex life, if not such information is
  intentionally or unintentionally submitted to this Site by the user. PII
  such as an Internet user's first and last name, birthday, email addresses
  and/or geographic location may be submitted by the user or collected form
  third-party Web sites (such as Facebook) with the express consent of the
  user.

%h2 B. Non-Personally Identifiable Information (Non-PII).
%p
  When a user views an Internet advertisement served by this Site (such as
  through a third-party Web site) or visits an advertiser's web site they may
  be subjected to third-party tracking technology such as web beacons and
  cookies (defined below).
%p
  A cookie file ("Cookies") is a small data file commonly used on the Internet
  to assign an anonymous, unique identifier to the end user's Internet
  browser. Cookies are used to personalize and optimize the user experience by
  obtaining information about the preferences and the services the user
  selects. When the user re-visits the assigning Web sites, Cookies can track
  the user's activities to identify repeat visits and user preferences. Find
  out more about Cookies at http://www.allaboutcookies.org
%p
  A web beacon ("Beacon") is an object embedded in a web page/e-mail that is
  used to track an Internet user's browsing/e-mail behavior and interactions.
%p
  Like most standard Web site servers, this Site uses log files and
  third-party web analysis services (such as Google Analytics) to collect
  referring/exit pages, platform type, date/time stamp, Internet protocol (IP)
  addresses, browser type, Internet service provider (ISP), etc. The collected
  information is used to analyze site usage, administer the site, understand
  navigation and usage trends in aggregate, and determine the relevance of
  content. This information is not linked to any personally identifiable
  information by this Site.
%p
  This Site may use Internet browsing and online purchase data associated with
  an anonymous identifier to develop a predictive statistical user profile of
  the end user's needs and interests. This Site does not use Cookies or log
  files to collect end users' names, addresses, phone numbers, email
  addresses, credit card numbers, national identification numbers, or any
  other information which can be used to identify a specific person. We may
  match the IP address and user profile with email address provided by the
  user in order to better target campaigns to meet user's interests, but will
  not share this information with third parties.
%p
  This Site has affiliations with other companies that supply/serve
  advertisement content and links on the Site's Web pages. The user should
  note that when clicking on one of these links or ads, they are moving to
  another web site. Users are encouraged to read the privacy statements of
  these linked sites as their privacy policies may differ from ours.
%p
  This and/or third-party web sites may use marketing technology that allows
  advertisers to add non-personally-identifying demographic information, such
  as age, gender, area code, or ZIP code, to the non-identifiable profile
  data. There is, however, no direct connection between an end user's online
  choices and his or her personal identity.
%p
  This Site receives and records email addresses of Internet users, in
  circumstances where the Internet user voluntarily provides contact and
  identity information to the site. These email addresses are not shared,
  rented, sold, or given away in any way.

%h2 II. INFORMATION SHARING
%p
  This Site may release user and any other personal information when a release
  is appropriate to respond to a subpoena or otherwise comply with the law; or
  protect the rights, property, or safety of Internet Web sites or end users.
  This may include but is not limited to exchanging information with other
  companies and organizations for fraud protection.

%h2 III. USER OPTION AND ACCESS
%h3 A. Opting Out.
%p
  Some of this and affiliated site's Cookies do not have an "opt-out" option,
  but the users still have the option of blocking the use of Cookies by
  changing settings on their Internet browsers. Please refer to the browser
  supplier's Web site for details on how disable "Cookies".

%h3 B. Accessing User Information.
%p
  This site does not maintain a separate process for individual users to
  access their PII, other than through the Site itself.

%h2 IV. SECURITY
%p
  This Site employs industry standard security measures to ensure the security
  of all data and services. This Site allows access to this information to
  those employees or third parties who have a need to know such information
  for the purpose of effectively delivering products and services provided by
  the.
%p
  No data transmission or storage is guaranteed to be totally secure. It may
  be possible for third parties not under the control of this Site to
  intercept or access information or private communications unlawfully or due
  to software error or malfunction or from user operating error. While we
  strive to protect your PII, this Site cannot ensure or warrant the security
  of any information submitted to the Site. You, the user, acknowledge and
  assume this risk when using the Site's services and/or when otherwise
  communicating with this Site.

%h2 V. CONSENT AND CHANGES
%p
  We expressly reserve the right to change this Privacy Policy from time to
  time without notice to you. You acknowledge and agree that it is your
  responsibility to review this site and the Privacy Policy from time to time
  and to familiarize yourself with any modifications. Your continued use of
  this site after such modifications will constitute acknowledgement of the
  modified Privacy Policy and an acceptance of the use and disclosure of
  collected information.
%p
  This Privacy Policy is effective as of 16.6.2011.

%h2 VI. CHILDREN AND UNSOLICITED E-MAIL
%p
  This Site's Web site, products, and services may not be appropriate for or
  directed at children. Children (persons under the age of 18) are not
  eligible to use this Site, and we ask that they do not submit any personal
  information to us.
%p
  It is our policy to prohibit the sending of unsolicited e-mail (Spam) by
  this Site or any of our marketing partners.

%h2 VII. LIMITATION OF LIABILITY & THIRD PARTY INFORMATION
%p
  YOU UNDERSTAND AND AGREE THAT ANY DISPUTE OVER PRIVACY IS SUBJECT TO THE
  TERMS AND CONDITIONS OF THIS PRIVACY POLICY AND OUR SITE TERMS (INCLUDING
  LIMITATIONS ON DAMAGES, VENUE AND JURISDICTION, AND ARBITRATION OF
  DISPUTES). YOU AGREE THAT THIS SITE'S LIABILITY FOR ANY BREACH OF THIS
  PRIVACY POLICY SHALL BE LIMITED TO THE VALUE OF THE TRANSACTIONS OR SERVICES
  PROVIDED TO YOU BY THIS SITE, TO THE EXTENT SUCH CLAIM IS NOT OTHERWISE
  BARRED BY OUR TERMS AND CONDITIONS. You also agree that you have notified
  and obtained consent from, any third party individuals whose personal data
  you supply to this Site with regard to: (a) the purposes for which such
  third party's personal information has been collected; (b) the intended
  recipients or categories of recipients of the third party's personal
  information; (c) which of the third party's data are voluntary and which
  data, if any, are obligatory; and (d) how the third party can access and, if
  necessary, rectify the information held about them.

%h2 VIII. CONTACT INFORMATION
%p
  Contact: Lifelist Inc.

%p
  Address: <br>
  2652 Torrey Pines Rd., La Jolla, CA 92037 <br>
  Phone: +1 (585) 451-2676 <br>
  E-mail: info@lifeli.st
